{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Kano's Django Twitter Clone</title>
  </head>
  <body>
    <header>
      <a href="/" class="link-back-home">
        <h1 class="page-title">
          KANO'S DJANGO TWITTER CLONE
        </h1>
      </a>
    </header>
    {% if user.is_authenticated %}
    <div class="logged-in-user-info">
      <h2>About logged in users: </h2>
      <!-- <b>Username: </b><a href={% url "user_detail" slug=user.slug %}> @{{user.username}} </a> <br /> -->
      <b>Display Name: </b>{{ user.display_name }} <br />
      {% if notifications %}
      <div>
        <b>Notifications: </b> <a href={% url "notifications"%}> You have {{ notifications|length }} new notification{% if notifications|length > 1 %}s{% endif %}</a> 
      </div>
      {% endif %}
    <h3><a href="/add_tweet/">Tweet something</a></h3>
    <h3><a href="/logout/">Logout</a></h3>
    {% elif "login" not in request.path %}
    Want to <a href="/login/">login</a>?
    {% endif %}
    </div>
    <div class="page-content">
      {% block content %}
      {% endblock %}
    </div>
    <hr />
    <p class="footer">
      Kano Marvel, 2020
      <br />
      Find me on <a href="https://github.com/knmarvel">Github</a>
      <br />
    </p>
  </body>
</html>
